*{
    font-family: 'Emilys Candy', cursive;
    
}

.about{
    background-color: #B28DFF;
}

.titulo {
    color: #F6A6FF;

}

.cuerpoAbout {
    color: #F6A6FF;
    font-size: 15px;
    font-weight: bold;
    margin:20px;
}










