.ItemDetailContainer{
  background-color: #ECD4FF;


} 

.titulo {
  color: #85E3FF;
  text-align: center;

}


.descripcion {
  color: #85E3FF;
  text-align: center;  
}

.imgDetalle {
  
  width: 250px;
  height: auto; 
  display:flex;

}

























