.ItemDetailContainer{
  background-color: #B28DFF;
  height: 500px;



} 

.titulo {
  color: #F6A6FF;
  text-align: center;

}


.descripcion {
  color: #F6A6FF;
  font-size: 15px;
  font-weight: bold;
  text-align: center;  

}

.imgDetalle {
  
  width: 15vw;
  height: auto; 
  margin-left: 40vw;
  padding:5px;
  border-radius: 15px;
  
}

























