.ItemDetailContainer{
  background-color: #B28DFF;
  height: 700px;
  



} 

.titulo {
  color: #F6A6FF;
  text-align: center;

}


.descripcion {
  color: #F6A6FF;
  font-size: 15px;
  font-weight: bold;
  text-align: center;  

}

.imgDetalle {
  
  width: 15vw;
  height: auto; 
  margin-left: 40vw;
  padding:5px;
  border-radius: 15px;
  margin-bottom: 25px;

}

.card {
  text-align: center;}



.ItemDetailContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}






















